<%= form_with(url: "/flights", method: :get, local: true) do |f| %>
<%= select_tag(:from_airport_id, options_for_select(@airport_options, selected: params[:from_airport_id]), prompt: "From") %>
<%= select_tag(:to_airport_id, options_for_select(@airport_options, selected: params[:to_airport_id]), prompt: "To") %>
<%= select_tag(:num_passengers, options_for_select(@passenger_options, selected: params[:num_passengers]), prompt: "Num Passengers") %>
<%= select_tag(:scheduled_on, options_for_select(@datetime_options, selected: params[:scheduled_on]), prompt: "Date") %>
<%= f.submit "Search for flight" %>
<% end %>


<% if @available_flights.any? %>
  <%= form_with(url: "/bookings/new", method: :get, local: true) do |f| %>
    <% @available_flights.each do |flight| %>
        Departing from: <%= flight.from_airport.code %>
        Arriving at: <%= flight.to_airport.code %>
        Duration: <%= flight.duration.to_s + "mins" %>
        Date: <%= flight.scheduled_on.strftime("%m/%d/%Y") %>
        Time: <%= flight.scheduled_on.strftime("%H:%M") %>
        <%= radio_button_tag(:flight_info, flight.id) %>
        <% end %>
        <div>
        <%= hidden_field_tag(:num_passengers, params[:num_passengers]) %>
        <%= f.submit "Select and Continue" %>
        </div>
  <% end %>
        <% else %>
  There are no available flights on the selected date
<% end %>

